objects/Disk_Partition_Object.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:DiskPartitionObj="http://docs.oasis-open.org/cti/ns/cybox/objects/disk-partition-2" xmlns:cyboxCommon="http://docs.oasis-open.org/cti/ns/cybox/common-2" targetNamespace="http://docs.oasis-open.org/cti/ns/cybox/objects/disk-partition-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.1">
	<xs:annotation>
		<xs:documentation> CybOX[TM] Version 2.1.1. Committee Specification Draft 01 / Public Review Draft 01</xs:documentation>
		<xs:appinfo>
			<schema>Disk_Partition_Object</schema>
			<version>2.1.1</version>
			<date>01/22/2014</date>			
			<short_description>The following specifies the fields and types that compose this defined CybOX Object type. Each defined object is an extension of the abstract ObjectPropertiesType, defined in CybOX Common. For more information on this extension mechanism, please see the CybOX Specification. This document is intended for developers and assumes some familiarity with XML. </short_description>
			<terms_of_use>Copyright (c) OASIS Open 2016. All Rights Reserved.
			Distributed under the terms of the OASIS IPR Policy, [http://www.oasis-open.org/policies-guidelines/ipr], AS-IS, WITHOUT ANY IMPLIED OR EXPRESS WARRANTY; there is no warranty of MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE or NONINFRINGEMENT of the rights of others.</terms_of_use>
			<terms_of_use> Portions copyright (c) United States Government 2012-2016.  All Rights Reserved.
			 Source: http://docs.oasis-open.org/cti/cybox/v2.1.1/csprd01/schemas/
			 Latest version of the specification: REPLACE_WITH_SPECIFICATION_URL
			 TC IPR Statement: https://www.oasis-open.org/committees/cti/ipr.php
            </terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://docs.oasis-open.org/cti/ns/cybox/common-2" schemaLocation="../common.xsd"/>
	<xs:element name="Disk_Partition" type="DiskPartitionObj:DiskPartitionObjectType">
		<xs:annotation>
			<xs:documentation>The Disk_Partition object is intended to characterize a single partition of a disk drive.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DiskPartitionObjectType" mixed="false">
		<xs:annotation>
			<xs:documentation>The DiskPartitionType type is intended to characterize partitions of disk drives.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cyboxCommon:ObjectPropertiesType">
				<xs:sequence>
					<xs:element name="Created" type="cyboxCommon:DateTimeObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Created field specifies the date/time the partition was created.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Device_Name" type="cyboxCommon:NameObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Device_Name field specifies the name of the device on which the partition resides.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Mount_Point" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Mount_Point field specifies the mount point of the partition.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Partition_ID" type="cyboxCommon:IntegerObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Partition_ID field specifies the numerical identifier of the partition.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Partition_Length" type="cyboxCommon:UnsignedLongObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Partition_Length field specifies the length of the partition, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Partition_Offset" type="cyboxCommon:UnsignedLongObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Partition_Offset field specifies the starting offset of the partition, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Space_Left" type="cyboxCommon:UnsignedLongObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Space_Left field specifies the amount of space left on the partition, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Space_Used" type="cyboxCommon:UnsignedLongObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Space_Used field specifies the amount of space used on the partition, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total_Space" type="cyboxCommon:UnsignedLongObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Total_Space field specifies the total amount of space available on the partition, in bytes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Type" type="DiskPartitionObj:PartitionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The Type field specifies the type of partition being characterized.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartitionType">
		<xs:annotation>
			<xs:documentation>PartitionType specifies partition types, via a union of the PartitionTypeEnum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectPropertyType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cyboxCommon:BaseObjectPropertyType">
				<xs:simpleType>
					<xs:union memberTypes="DiskPartitionObj:PartitionTypeEnum xs:string"/>
				</xs:simpleType>
				<xs:attribute name="datatype" type="cyboxCommon:DatatypeEnum" fixed="string">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified property.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="PartitionTypeEnum">
		<xs:annotation>
			<xs:documentation>The PartitionTypeEnum type is a non-exhaustive enumeration of partition types. See http://www.win.tue.nl/~aeb/partitions/partition_types-1.html for more information about the various partition types.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PARTITION_ENTRY_UNUSED">
				<xs:annotation>
					<xs:documentation>Indicates an unused partition entry.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_FAT_12">
				<xs:annotation>
					<xs:documentation>Indicates a FAT 12 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_XENIX_1">
				<xs:annotation>
					<xs:documentation>Indicates a XENIX type 1 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_XENIX_2">
				<xs:annotation>
					<xs:documentation>Indicates a XENIX type 2 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_FAT_16">
				<xs:annotation>
					<xs:documentation>Indicates a XENIX FAT 16 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_EXTENDED">
				<xs:annotation>
					<xs:documentation>Indicates a XENIX extended partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_HUGE">
				<xs:annotation>
					<xs:documentation>Specifies an MS-DOS V4 huge partition. This value indicates that there is no Microsoft file system on the partition. Use this value when creating a logical volume.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_IFS">
				<xs:annotation>
					<xs:documentation>Indicates an IFS partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_OS2BOOTMGR">
				<xs:annotation>
					<xs:documentation>Indicates an OS/2 boot manager partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_FAT32">
				<xs:annotation>
					<xs:documentation>Indicates a FAT32 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_FAT32_XINT13">
				<xs:annotation>
					<xs:documentation>Indicates a FAT32 Extended-INT13 equivalent partition to the FAT32 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_XINT13">
				<xs:annotation>
					<xs:documentation>Indicates an XINT13 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_XINT13_EXTENDED">
				<xs:annotation>
					<xs:documentation>Indicates an extended XINT13 partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_PREP">
				<xs:annotation>
					<xs:documentation>Indicates a PReP (Power PC Reference Platform) partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_LDM">
				<xs:annotation>
					<xs:documentation>Indicates an LDM partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_UNIX">
				<xs:annotation>
					<xs:documentation>Indicates a UNIX partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VALID_NTFT">
				<xs:annotation>
					<xs:documentation>Specifies a valid NTFT partition. The high bit of a partition type code indicates that a partition is part of an NTFT mirror or striped array.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PARTITION_NTFT">
				<xs:annotation>
					<xs:documentation>Specifies an NTFT partition.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UNKNOWN">
				<xs:annotation>
					<xs:documentation>Refers to an unknown partition or a partition other than those listed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
