objects/Win_System_Restore_Object.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:WinSystemRestoreObj="http://docs.oasis-open.org/cti/ns/cybox/objects/win-system-restore-2" xmlns:cyboxCommon="http://docs.oasis-open.org/cti/ns/cybox/common-2" targetNamespace="http://docs.oasis-open.org/cti/ns/cybox/objects/win-system-restore-2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.1.1">
	<xs:annotation>
		<xs:documentation> CybOX[TM] Version 2.1.1. Committee Specification Draft 01 / Public Review Draft 01</xs:documentation>
		<xs:appinfo>
			<schema>Win_System_Restore_Object</schema>
			<version>2.1.1</version>
			<date>01/22/2014</date>			
			<short_description>The following specifies the fields and types that compose this defined CybOX Object type. Each defined object is an extension of the abstract ObjectPropertiesType, defined in CybOX Common. For more information on this extension mechanism, please see the CybOX Specification. This document is intended for developers and assumes some familiarity with XML. </short_description>
			<terms_of_use>Copyright (c) OASIS Open 2016. All Rights Reserved.
			Distributed under the terms of the OASIS IPR Policy, [http://www.oasis-open.org/policies-guidelines/ipr], AS-IS, WITHOUT ANY IMPLIED OR EXPRESS WARRANTY; there is no warranty of MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE or NONINFRINGEMENT of the rights of others.</terms_of_use>
			<terms_of_use> Portions copyright (c) United States Government 2012-2016.  All Rights Reserved.
			 Source: http://docs.oasis-open.org/cti/cybox/v2.1.1/csprd01/schemas/
			 Latest version of the specification: REPLACE_WITH_SPECIFICATION_URL
			 TC IPR Statement: https://www.oasis-open.org/committees/cti/ipr.php
            </terms_of_use>
		</xs:appinfo>
	</xs:annotation>
	<xs:import namespace="http://docs.oasis-open.org/cti/ns/cybox/common-2" schemaLocation="../common.xsd"/>
	<xs:element name="Windows_System_Restore_Entry" type="WinSystemRestoreObj:WindowsSystemRestoreObjectType">
		<xs:annotation>
			<xs:documentation>Windows_System_Restore_Entry object is intended to characterize Windows system restore points. See also: http://msdn.microsoft.com/en-us/library/windows/desktop/dd408121(v=vs.85).aspx.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WindowsSystemRestoreObjectType" mixed="false">
		<xs:annotation>
			<xs:documentation>The WindowsSystemRestoreObjectType is intended to characterize Windows system restore points.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="cyboxCommon:ObjectPropertiesType">
				<xs:sequence>
					<xs:element name="Restore_Point_Description" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The description of this restore point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Restore_Point_Full_Path" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The full path to the restore point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Restore_Point_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The name associated with this restore point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Restore_Point_Type" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The type of restore point. (ex: "Checkpoint").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ACL_Change_SID" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The SID associated with a restore point change log event. This usually appears when the event flag includes "ACL Info".</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ACL_Change_Username" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The username associated with a restore point change log event. It usually appears when the event flag includes "ACL Info".</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Backup_File_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The backup file name associated with a particular restore point change log event.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Change_Event" type="WinSystemRestoreObj:ChangeLogEntryTypeType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The change event associated with this restore point object (ex: "System Checkpoint", "Software Installation", etc.).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChangeLog_Entry_Flags" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The flags associated with a restore point change log entry (ex: "ACL Info, "Short Name", etc.).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChangeLog_Entry_Sequence_Number" type="cyboxCommon:LongObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The change log sequence number associated with this restore point object.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ChangeLog_Entry_Type" type="WinSystemRestoreObj:ChangeLogEntryTypeType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The changelog entry type associated with this restore point object.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Change_Log_File_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The changelog file associated with the restore point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Created" type="cyboxCommon:DateTimeObjectPropertyType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The created date of the system restore point.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="File_Attributes" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Attributes of the file associated with this restore point object (ex: "Directory").</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="New_File_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The new filename of the file associated with this restore point object.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Original_File_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The original filename associated with this restore point change log event.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Original_Short_File_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The original Short filename (SFN) of the file associated with this restore point object.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Process_Name" type="cyboxCommon:StringObjectPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The process name associated with this restore point object.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Registry_Hive_List" type="WinSystemRestoreObj:HiveListType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The registry hives associated with this restore point.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="HiveListType">
		<xs:annotation>
			<xs:documentation>HiveListType is intended to characterize a group of keys, subkeys, and values in the Windows registry that has a set of supporting files containing backups of its data and is associated with a system restore point.</xs:documentation>
			<xs:documentation>http://msdn.microsoft.com/en-us/library/windows/desktop/ms724877(v=vs.85).aspx.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Hive" type="cyboxCommon:StringObjectPropertyType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Hive element specifies the Windows registry hive associated with the system restore point.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangeLogEntryTypeType">
		<xs:annotation>
			<xs:documentation>ChangeLogEntryTypeType types, via a union of the ChangeLogEntryTypeEnum type and the atomic xs:string type. Its base type is the CybOX Core BaseObjectPropertyType, for permitting complex (i.e. regular-expression based) specifications.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:restriction base="cyboxCommon:BaseObjectPropertyType">
				<xs:simpleType>
					<xs:union memberTypes="WinSystemRestoreObj:ChangeLogEntryTypeEnum xs:string"/>
				</xs:simpleType>
				<xs:attribute name="datatype" type="cyboxCommon:DatatypeEnum" fixed="string">
					<xs:annotation>
						<xs:documentation>This attribute is optional and specifies the expected type for the value of the specified property.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:restriction>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ChangeLogEntryTypeEnum">
		<xs:annotation>
			<xs:documentation>The change types found in a Restore Point changelog&gt;.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UPDATE_ACL">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for updating an ACL. (0x00000001).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="UPDATE_ATTRIBUTES">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for updating attributes. (0x00000002).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELETE_FILE">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for deleting a file. (0x00000004).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CREATE_FILE">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for creating a file. (0x00000010).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RENAME_FILE">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for renaming a file. (0x00000020).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CREATE_DIRECTORY">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for creating a directory. (0x00000040).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RENAME_DIRECTORY">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for renaming a directory. (0x00000080).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DELETE_DIRECTORY">
				<xs:annotation>
					<xs:documentation>Represents a changelog entry descriptor for deleting a directory. (0x00000100).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MNT_CREATE">
				<xs:annotation>
					<xs:documentation>Related to filesystem attachment points. (0x00000200).</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
